<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <base href="@ViewBag.ApplicationPath" />

        <title></title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        
        @Styles.Render("~/content/bootstrap")
        @Styles.Render("~/content/glyphs")
        @Styles.Render("~/content/css")
        @Styles.Render("~/content/authenticated")

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lte IE 9]>
            @Scripts.Render("~/bundles/compatibility")
        <![endif]-->
    </head>

    <body>
        <header>
            @Html.Partial("_Banner")
        </header>
        <div class="sidebar-background"></div>
        <section class="sidebar">
            @Html.Partial("_Navigation")
        </section>
        <section class="content">
            @RenderBody()
        </section>
        <footer>
            @Html.Partial("_Copyright")
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/app")
        @RenderSection("scripts", required: false)
    </body>
</html>
