<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="@Url.Content("~/Scripts/jquery.js")"></script>
    <script src="@Url.Content("~/Scripts/lodash.js")"></script>
    <script src="@Url.Content("~/Scripts/helpers.js")"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
